<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="script.js"></script>
</head>
    <h3>Поиск по id</h3>
    <input type="text" id="findIdText"/>
    <input type="button" value="Поиск" id="findRequest"/>
    <br>
    <div id="idDiv"></div>
    <br>
    <h3>id, имя, группа, роль</h3>
    <form method="post" id="saveForm">
        <input type="number" name="id" />
        <input type="text" name="name" />
        <input type="number" name="group" />
        <input type="number" name="role"  />
        <input type="button" value="Сохранить/Обновить" id="saveRequest"/>
    </form>
    <br>
    <div id="saveDiv"></div>
    <br>
    <h3>Удалить по id</h3>
    <input type="text" id="deleteIdText"/>
    <input type="button" value="Удалить" id="deleteRequest"/>
    <br>
    <div id="deleteDiv"></div>
</body>
</html>